@use './../../../common/styles/variables' as *;
@use './../../../common/styles/template';


.form{
  @extend %form;
    > p{
      margin: 0 0 30px;
      font-size: 18px;
 } 
  .fieldset{
  }

  .radioInputsContainer{
    display: flex;
    flex-direction: column;
      .radioInputBlocks{
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          border: 1px solid white;
          margin: 15px 0;
          padding: 15px;
            > div > *{
              text-align: left;
              line-height: 18px;
            }
            > div > h2{
              margin-left: 10px;
              margin-bottom: 10px;
            }
      }
  }
  
  .confirmBtn{
    @extend %submit-btn;
  }
}


@media (min-width: 715px) {
  .form{
    width: 70%;
    max-width: 700px;
    margin: auto;
    .fieldset {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: auto;
        >* {
          width: 47%;
        }
  }
  }
}





