@use './variables' as *;

%border-none{
  border:none;
}

%form{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  margin: auto;
  color: white;
}

%submit-btn{
  background-color: $confirm-btn-color;
  @extend %border-none;
  height: 64px;
  margin: 15px 0;
  color: white;
  font-size: 30px;
  font-weight: bold;
  &:active {
    background-color: darken($confirm-btn-color, $amount: 10)
  }
}