.header{
  font-family: 'Gothic A1', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem 5rem;
  background-color: #3EA9F5;
    button{
      font-family: inherit;
      font-weight: 800;
      font-size: 1rem;
      color: white;
      padding: 0 20px;
      background-color: inherit;
      border-radius:4px;
      border: 1px solid white ;
    }
}




